html, body{
	padding:0;
	margin:0;
	background:#fff;
}  
.test{  
	
} 
.wrapper{
	max-width:1400px;
	margin: 0 auto;
	display:block;
	padding:2rem;
}
.stylebox{
	width:50%;
	float:left;
}

.input-field{
position:relative;
}