html, body{
	padding:0;
	margin:0;
	background:#fff;
}  
*{box-sizing:border-box;}
.test{  
	
} 
.wrapper{
	max-width:1400px;
	margin: 0 auto;
	display:block;
	padding:2rem;
}
.stylebox{
	width:50%;
	float:left;
}
.element{
	width:100%;
	overflow:hidden;
	display:inline-block;
	border-bottom:2px solid #000;
	margin-bottom:20px;
	header{
		border-bottom:2px solid #000;
	}
	.example{
		display:inline-block;
		padding:10% 0;
	}
	.code{
		width:auto;
		max-width:50%;
		float:right;
		code{
			width:100%;
			clear:both;
			display:inline-block;
			background: #d5d5d5;
			position:relative;
			padding:20px; 
			margin: 20px 0;
			&:before{
				content:"Code";
				position:absolute;
				top:0;
				transform:translateY(-50%);
				left:0;
				display:block;
				background:#d5d5d5;
				padding:3px 10px;
				border-bottom: 11px solid transparent;
				border-left: 5px solid #fff;
			}
		}
	}
}
.input-field{
position:relative;
}


.element1{

	.info-wrapper{
		display: inline-block;
		position: relative;
	}
	.info{
		display:none;
		position:absolute;
		font-size:10px;
		right:10px;
		bottom:0;
		color:red;
		transform:translateY(100%);

	}
	.withinfo{
		&:focus, &:hover{
			&:placeholder-shown + .info{
				display:block;
			}
		}
		
	}
}

.element2{
	input{
		@include inputs-sizes(5px 10px, 15px, #d5d5d5)
		@include inputs-borders(2px, #000, 2px, #000, 2px, #000);
	}
}
.element3{
	input{
		@include inputs-sizes(5px 10px, 15px, #d5d5d5)
		@include  inputs-placeholders(10px, #000, 20px);
		@include inputs-borders(2px, #000, 2px, #000, 2px, #000);
	}
}