@mixin inputs-sizes($padding, $font-size,  $font-color){
	//Reset
	margin:0;
	border:0;
	padding:0;
	box-shadow:none;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

	padding: $padding;
	font-size: $font-size;
	color: $font-color;



}
@mixin inputs-placeholders($placeholder-size, $placeholder-color, $font-size){
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 		 color: $placeholder-color;			
 		 font-size: $placeholder-size;
 		 line-height:$font-size;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		color: $placeholder-color;	
		  font-size: $placeholder-size;
		  line-height:$font-size;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: $placeholder-color;	
		  font-size: $placeholder-size;
		  line-height:$font-size;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: $placeholder-color;	
		  font-size: $placeholder-size;
		  line-height:$font-size;
		}
}
@mixin inputs-borders($normal-size, $normal-color, $focus-size, $focus-color, $placeholder-size, $placeholder-color){
	border: $normal-size solid $normal-color;

		&:focus{
			border: $focus-size solid $focus-color;
		}

		&:placeholder-shown{
			border: $placeholder-size solid $placeholder-color;
		}

}

