.style_version1{
	
.info{
	display:none;
	position:absolute;
	font-size:10px;
	right:10px;
	bottom:20px;
	color:red;

}
input{
	@include  inputs-sizes(10px 20px, 20px, #000);
	@include  inputs-placeholders(10px, #d5d5d5, 20px);
	@include inputs-borders(2px, #000, 2px, #000, 2px, #000);

	width:100%;


	
}	



}

.withinfo{
	&:focus{
		&:placeholder-shown + .info{
			display:block;
		}
	}
}